.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#map {
    height: 400px;
    width: 100%;
}

button {
    font-size: 3vw;
}

.message-box {
    /* width: 800px;
    height: 800px;
    background: #000; */
}

.message-font {
color: black;
}